<div>
    <div class="metro" v-for="(metro, index) in timeTableData.metros">
        <div class="metro-information metro-line-number">
            {{metro.LineNumber}}
        </div>
        <div class="metro-information metro-line-destination">
            {{metro.Destination}}
        </div>
        <div class="metro-information metro-line-displayname float-right">
            {{metro.DisplayTime}}
        </div>
    </div>
</div>