.metro {
    height: 87px;
    border-bottom: 3px solid #CCC;
    font-size: 60px;
}

.metro-information {
    display: inline-block;
}

.metro-line-number {
    color: white;
    background-color: #0089ca;
    height: 90px;
    width: 90px;
    text-align: center;
}

.metro-line-displayname {
    float: right;
}